body {
    width: 100%;
    height: 100%;
    background-image: url('/static/images/topo-1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2B2B2B;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: #dedede;
}

body::-webkit-scrollbar {
    display: none;
}

/* ------------------------------ default text weight  ---------------------------------- */
.thin {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* ------------------------------ default text size  ---------------------------------- */
p {
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

/* ------------------------------ area text styling  ---------------------------------- */
.body-title-text{
    color: #dedede;
    font-size: 4rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.brand {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    color: #dedede;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: rgba(28, 28, 28, 60%);
}

/* ------------------------------ habit text styling  ---------------------------------- */
.habit-name {
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 400;
}

/* ------------------------------ nav styling  ---------------------------------- */
.navbar-toggler {
    color: #dedede;
    background-color: #dedede;
}

.nav-link {
    font-size: 20px;
    color: #dedede;
}

.nav-link:focus {
    color: #fff;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.53);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    color: #1C1C1C;
}

/* ------------------------------ card styling  ---------------------------------- */
.card {
    min-height: 400px;
    background: rgba(92, 92, 92, 0.55);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    margin-bottom: 3rem;
}

.card2 {
    min-height: 300px;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card3 {
    min-height: 300px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card4 {
    max-width: 500px;
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(92, 92, 92, 0.55);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.habit-card-container {
    position: relative;
    max-height: 240px; /* Adjust the maximum height as needed */
    overflow-y: auto; 
}

/* ------------------------------ button styling  ---------------------------------- */
.btn-signup {
    background-color: #2b2b2b;
    color: #dedede;
    font-size: 18px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #dedede;
    color: #2b2b2b;
}

.btn-hero {
    padding-bottom: 1rem;
}

.btn-submit { 
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    padding: 0.4rem;
}

.btn-submit:hover,
.btn-submit:active {
    background-color: #5c5c5c;
    color: #dedede;
}

.btn-signin { 
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    padding: 0.2rem;
}

.btn-signin:hover,
.btn-signin:active {
    background-color: #5c5c5c;
    color: #dedede;
}

.options {
    text-decoration: none;
    color: #1C1C1C;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
}

.options:hover,
.options:active {
    color: #dedede;
    background-color: #1C1C1C;
}

.option-btn {
    min-width: 40px;
    text-align: center;
    text-decoration: none;
    color: #1C1C1C;
    padding: 0 0.2rem;
}

.option-btn:hover,
.option-btn:active {
    color: #dedede;
    background-color: #1C1C1C;
}

.btn-filter{
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    padding: 0.2rem;
}

.btn-filter:hover,
.btn-filter:active {
    background-color: #5c5c5c;
    color: #dedede;
}

/* ------------------------------ link styling  ---------------------------------- */
#profile {
    color: #dedede;
    text-decoration: none;
}

#profile:hover,
#profile:active {
    color: #5c5c5c;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

a {
    color: #fff;
}

a:hover,
a:active {
    color: #1C1C1C;
}

.f-title {
    margin-bottom: 2rem;
}

form label {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

form input {
    text-align: center;
    color: #dedede;
    background: rgba(92, 92, 92, 0.55);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.2rem;
}

form input:focus {
    outline: 1px solid #dedede;
}

.main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: inline;
    padding: 3rem;
}

/* ------------------------------ habit progressbar styling  ---------------------------------- */
.habit-con {
    margin: 0.5rem 0;
}

.progress {
    min-width: 300px;
    min-height: 60px;
}

.progress-bar {
    width: auto;
    min-height: 60px; 
    background-color: #2b2b2b;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.progress-label {
    font-size: 14px;
}

.progress-container{
    min-width: 340px;
    display: flex;
    align-items: center;
    background-color: #dedede;
    padding: 0;
}

.progress-container2{
    min-width: 340px;
    display: flex;
    align-items: center;
    background-color: #dedede;
    padding: 0;
}

.progress-cd {
    min-width: 300px;
    min-height: 30px;
    padding: 0.1rem;
    margin-left: 3%;
    background-color: #dedede;
    border-radius: 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.total-prog {
    min-width: 340px;
    min-height: 30px;
    position: absolute;
    display: flexbox;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ------------------------------ edit habit button styling  ---------------------------------- */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
/* Custom styling for the decrement and increment buttons */

.goal-input {
    text-align: center; /* Center the text */
    width: 50px; /* Adjust the width as needed */
}

.input-group {
    display: flex;
    justify-content: center;
}

.completed-field {
    display: inline;
}

form p {
    margin-top: 0.5rem;
}

.habit-value {
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    color: #1C1C1C;
    border: 2px solid #1C1C1C;
    border-radius: 60px;
}

.units {
    color: #1C1C1C;
}

.unit-value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    gap: 0.5rem;
    color: #1C1C1C;
}

.completed-field {
    display: inline;
}

.completed {
    background-color: green;
}

.index-container {
    max-width: 400px;
}