/* ------------------------------ Root colors ------------------------------ */
:root {
    --primary-color: #5C5C5C;
    --secondary-color: #2B2B2B;
    --text-color1: #dedede;
    --text-color2: #1c1c1c;
    --accent-color: #8F8F8F;
    --card-background-color: rgba(92, 92, 92, 0.55);
}

/* ------------------------------ Body Styling ------------------------------ */
body {
    width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dkvbgxsft/raw/upload/v1696518419/static/images/topo-1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    position: relative;
    font-family: 'Playfair Display', serif;
    color: var(--text-color1);
}

body::-webkit-scrollbar {
    display: none;
}

/* ------------------------------ default text weight  ---------------------------------- */
.thin {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* ------------------------------ default text size  ---------------------------------- */
p {
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

/* ------------------------------ area text styling  ---------------------------------- */
.body-title-text{
    color: var(--text-color1);
    font-size: 4rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.brand {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color1);
    text-decoration: none
}

.dark-bg {
    background-color: var(--secondary-color);
}

.ht-text {
    max-width: 500px;
}

.ht-container {
    display: flex;
    justify-content: center;
}
/* ------------------------------ nav styling  ---------------------------------- */
.navbar-toggler {
    color: var(--text-color1);
    background-color: var(--text-color1);
}

.nav-link {
    font-size: 20px;
    color: var(--text-color1);
}

.nav-link:focus {
    color: #fff;
}

.nav-link:hover {
    background: var(--primary-color);
    border-radius: 3px;
    color: var(--text-color1);
}

.navbar-text {
    margin-left: 5rem;
    text-decoration: none;
}

#profile {
    display: inline-flex;
    gap: 0.5rem;
}

/* ------------------------------ card styling  ---------------------------------- */
.card {
    min-height: 400px;
    background: var(--card-background-color);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    margin-bottom: 3rem;
}

.card2 {
    min-height: 300px;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card3 {
    min-height: 300px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero-img {
    background-image: url('https://res.cloudinary.com/dkvbgxsft/image/upload/v1696518421/static/images/AdobeStock_490257740.webp');
    background-position: center;
    background-size: cover;
}

/* ------------------------------ button styling  ---------------------------------- */
.btn-signup {
    background-color: var(--secondary-color);
    color: var(--text-color1);
    font-size: 18px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--text-color1);
    color: var(--secondary-color);
}

.btn-hero {
    padding-bottom: 1rem;
}

.btn-submit { 
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    padding: 0.4rem;
}

.btn-submit:hover,
.btn-submit:active {
    background-color: #5c5c5c;
    color: var(--text-color1);
}

.btn-signin { 
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    padding: 0.2rem;
}

.btn-signin:hover,
.btn-signin:active {
    background-color: #5c5c5c;
    color: var(--text-color1);
}

/* ------------------------------ link styling  ---------------------------------- */
.link {
    color: #fff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

a {
    color: #fff;
}

a .navbar-text{
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--text-color2);
}

.f-title {
    margin-bottom: 2rem;
}

form label {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

form input {
    text-align: center;
    color: var(--text-color1);
    background: var(--card-background-color);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.2rem;
}

form input:focus {
    outline: 1px solid var(--text-color1);
}

form textarea {
    width: 300px;
    height: 200px;
    resize: none;
    color: var(--text-color1);
    background: var(--card-background-color);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.2rem;
}

/* ------------------------------ Mobile Styles ------------------------------ */
@media (max-width: 425px) {
    .h-100 {
        overflow-x: hidden;
    }

    .flex-shrink-0 {
        padding: 0 0.1rem;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .h-100 {
        overflow-x: hidden;
    }

    .flex-shrink-0 {
        padding: 0 0.1rem;
    }
}
