{% extends "base.html" %} {% block content %} {% load static %}
<div class="container-fluid">
  <!-- Hero Section -->
  <div class="row justify-content-center">
    <div class="col-12 body-title-text text-center">Welcome to Habitize</div>
  </div>
  <div class="container text-center">
    <div class="row card hero-img justify-content-end btn-hero">
      <!-- Sign Up Button -->
      <div class="d-grid gap-2 col-10 col-md-6 mx-auto">
        <a href="{% url 'account_signup' %}" class="btn btn-submit">
          Sign Up
        </a>
      </div>
    </div>
  </div>

  <!-- Introduction Section -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 card2">
        <!-- Section Heading -->
        <h3>Transform Your Life, One Habit at a Time</h3>
        <p>
          <!-- Section Description -->
          Are you ready to embark on a transformative journey towards a better
          version of yourself? Welcome to Habitize, your trusted companion on
          the path to personal growth and self-improvement.
        </p>
        <!-- Subheading -->
        <h3>What is Habitize?</h3>
        <p>
          <!-- Section Description -->
          Habitize is not just another habit tracker; it's your gateway to a
          life filled with purpose, positivity, and progress. With its
          contemporary design and intuitive interface, this web-based
          application redefines habit tracking, making it an enjoyable and
          enriching experience.
        </p>
      </div>
    </div>
  </div>

  <!-- Features Section -->
  <div class="container card text-center">
    <div class="row f-title">
      <div class="col">
        <!-- Features Heading -->
        <h2>Features</h2>
      </div>
    </div>
    <div class="row p-2 align-items-center">
      <!-- Individual Feature Blocks -->
      <div class="col-6 col-md-3">
        <!-- Goal Feature -->
        <img src="{% static 'images/goals-icon.svg' %}" alt="goal icon" />
        <p>Create goals to keep motivated.</p>
      </div>
      <div class="col-6 col-md-3">
        <!-- Stats Feature -->
        <img src="{% static 'images/stats-button.svg' %}" alt="stats icon" />
        <p>Track your progress with daily, weekly and monthly stats.</p>
      </div>
      <div class="col-6 col-md-3">
        <!-- Profile Customization Feature -->
        <img src="{% static 'images/profile-icon1.svg' %}" alt="profile icon" />
        <p>Customize your profile to express yourself.</p>
      </div>
      <div class="feature-images col-6 col-md-3">
        <!-- Habits Feature -->
        <img src="{% static 'images/habits-icon.svg' %}" alt="habits icon" />
        <p>Create, edit and delete habits.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
