{% extends 'user_profile/base.html' %}
{% block content %}
<div class="container">
  <div class="row card2">
    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Username Field -->
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {% if form.username.widget.attrs.readonly %}
        <!-- Display current username if the field is readonly -->
        <p>{{ form.instance.user.username }}</p>
        {% else %}
        <!-- Display editable username input field -->
        {{ form.username }}
        {% endif %}
      </div>

      <!-- Profile Image Field -->
      <div class="form-group">
        <label for="{{ form.profile_image.id_for_label }}">Profile Image:</label>
        {% if form.instance.profile_image %}
        <!-- Display current profile image if it exists -->
        <img
          src="{{ form.instance.profile_image.url }}"
          alt="Current Profile Image"
          width="100"
          height="100"
          class="rounded-circle"
        />
        <br />
        <label>Change Profile Image:</label>
        {% endif %}
        <!-- Input field for updating profile image -->
        <input
          class="file-input"
          type="file"
          name="{{ form.profile_image.name }}"
          accept="image/*"
          id="{{ form.profile_image.id_for_label }}"
        />
      </div>

      <!-- Color Theme Field -->
      <div class="form-group">
        <label>Color Theme:</label>
        <div class="row justify-content-center">
          {% for choice in color_choices %}
          <div class="col-md-2 theme-btn mb-2">
            <div
              class="btn-group-vertical"
              role="group"
              aria-label="Color Theme"
            >
              <!-- Radio button for each color theme choice -->
              <input
                type="radio"
                name="color_theme"
                id="color-{{ choice.0 }}"
                value="{{ choice.0 }}"
                class="radio-btn"
                {% if choice.0 == form.color_theme.value %}checked{% endif %}
              />
              <!-- Label displaying the color theme name -->
              <label
                class="btn-color"
                for="color-{{ choice.0 }}"
              >{{ choice.1 }}</label>
            </div>
          </div>
          <!-- Create a new row after every three color theme choices -->
          {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row justify-content-center">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if not form.username.widget.attrs.readonly %}
      <!-- Submit and Cancel Buttons (only displayed if username is editable) -->
      <input type="submit" value="Update" class="btn btn-submit" />
      <a href="{% url 'view_profile' %}" class="btn btn-submit">Cancel</a>
      {% endif %}
    </form>

    <!-- Display form errors, if any -->
    {% if form.errors %}
    <div class="error">
      <p><strong>Error:</strong> There was an issue with your submission.</p>
      {{ form.non_field_errors }} {{ form.username.errors }} {{ form.profile_image.errors }}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
