{% extends "dashboard/base.html" %}

{% block content %}
<div class="container main-container">
    <div class="row justify-content-center">
        <!-- completed habits card -->
        <div class="col index-container">
            <div class="card4 justify-content-center">
                <h2 class="card-title mb-4">Completed Habits</h2>
                <div class="container mb-3">
                    <div class="progress progress-container2">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            data-progress="{{ completed_progress_day }}"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-label="daily completed habit progressbar"
                        >
                            <div class="total-prog">
                                <h4>Daily: {{ completed_habits_day }}/{{ total_habits_day }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-3">
                    <div class="progress progress-container2">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            data-progress="{{ completed_progress_week }}"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-label="weekly completed habit progressbar"
                        >
                            <div class="total-prog">
                                <h4>Weekly: {{ completed_habits_week }}/{{ total_habits_week }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-3">
                    <div class="progress progress-container2">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            data-progress="{{ completed_progress_month }}"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-label="monthly completed habit progressbar"
                        >
                            <div class="total-prog">
                                <h4>Monthly: {{ completed_habits_month }}/{{ total_habits_month }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- habits card -->
        <div class="col index-container">
            <div class="card4 justify-content-center">
                <h2>Your habits</h2>
                <!-- Add a filter dropdown to select frequency -->
                <div class="filter-dropdown">
                    <form method="get">
                        <label for="frequency-filter">Filter by Frequency:</label>
                        <select class="btn-filter" id="frequency-filter" name="frequency">
                            <option value="">All</option>
                            <option value="day" {% if selected_frequency == 'day' %}selected{% endif %}>Daily</option>
                            <option value="week" {% if selected_frequency == 'week' %}selected{% endif %}>Weekly</option>
                            <option value="month" {% if selected_frequency == 'month' %}selected{% endif %}>Monthly</option>
                        </select>
                        <button class="btn-filter" type="submit">Apply Filter</button>
                    </form>
                </div>
                <div class="habit-card-container mb-2 mt-2">
                    {% regroup habits by category as grouped_habits %}
                    {% for category, category_habits in grouped_habits %}
                    <h5>{{ category }}</h5> <!-- Display the category name above the habits -->
                    <table>
                        {% for habit in category_habits %}
                        <tr>
                            <td>
                                <div class="container habit-con">
                                    <div class="row">
                                        <!-- Your habit content here -->
                                        {% if habit.progress == 0 %}
                                        <div class="progress container progress-container">
                                            <div
                                                class="progress-bar row"
                                                role="progressbar"
                                                data-progress="{{ habit.progress }}"
                                                aria-valuenow="0"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                aria-label="habit progressbar"
                                            ></div>
                                            <div class="progress-cd">
                                                <div class="unit-value col-3">
                                                    <div class="habit-value">{{ habit.value }}</div>
                                                    <div class="units">{{ habit.units }}</div>
                                                </div>
                                                <div class="habit-name col-5 mx-auto">
                                                    {{ habit.name }}
                                                </div>
                                                <div
                                                    class="dropdown col-3"
                                                    aria-label="options dropdown menu"
                                                >
                                                    <a
                                                        class="option-btn"
                                                        role="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                    >
                                                        * * *
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a
                                                                class="options"
                                                                title="Edit your task"
                                                                href="{% url 'edit' habit.id %}"
                                                            >Edit</a
                                                            >
                                                        </li>
                                                        {% if not habit.completed %}
                                                        <li>
                                                            <a
                                                                class="options"
                                                                title="Complete your task"
                                                                href="{% url 'toggle' habit.id %}"
                                                            >Complete Habit</a
                                                            >
                                                        </li>
                                                        {% endif %}
                                                        <li>
                                                            <a
                                                                class="options"
                                                                title="Delete your task"
                                                                href="{% url 'delete' habit.id %}"
                                                            >Delete</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="progress container progress-container">
                                            <div
                                                class="progress-bar {% if habit.completed %}completed{% endif %}"
                                                role="progressbar"
                                                data-progress="{{ habit.progress }}"
                                                aria-valuenow="{{ habit.progress }}"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                aria-label="habit progressbar"
                                            ></div>
                                            <div
                                                class="progress-cd {% if habit.completed %}completed{% endif %}"
                                            >
                                                <div class="unit-value col-3">
                                                    <div class="habit-value">{{ habit.value }}</div>
                                                    <div class="units">{{ habit.units }}</div>
                                                </div>
                                                <div class="habit-name col-5 mx-auto">
                                                    {{ habit.name }}
                                                    {% if habit.completed %}
                                                    <h6>{{ habit.date_completed|date:"F d, Y" }}</h6>
                                                    {% endif %}
                                                </div>
                                                <div
                                                    class="dropdown col-3"
                                                    title="Options"
                                                    aria-label="options dropdown menu"
                                                >
                                                    <a
                                                        class="option-btn"
                                                        role="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                    >
                                                        * * *
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a
                                                                class="options"
                                                                title="Edit your task"
                                                                href="{% url 'edit' habit.id %}"
                                                            >Edit</a
                                                            >
                                                        </li>
                                                        {% if not habit.completed %}
                                                        <li>
                                                            <a
                                                                class="options"
                                                                title="Complete your task"
                                                                href="{% url 'toggle' habit.id %}"
                                                            >Complete Habit</a
                                                            >
                                                        </li>
                                                        {% endif %}
                                                        <li>
                                                            <a
                                                                class="options"
                                                                title="Delete your task"
                                                                href="{% url 'delete' habit.id %}"
                                                            >Delete</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
                <a aria-current="page" href="{% url 'add' %}">
                    <button class="btn-submit">Add</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
